.card-container{
    border: none!important;
    background-color: white;
    padding: 30px;
    text-align: center;
}
.card-container img{
    width: 180px;
    margin: 0px auto;
}
.card-container:hover{
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}